/* 
#004E9C - deep blue
#035AA6 - middle blue
#035AA6 - blue light
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

:root {
	--deepblue: #004e9c;
	--middle-blue: #035aa6;
	--light-blue: #05aff2;
	--gray: #746c82;
}
/* font-family: 'Nunito', sans-serif; */

.form-control {
	border: solid 1px;
	border-radius: 10px;
	border-color: var(--light-blue);
}
.form-control::placeholder {
	color: var(--deepblue);
}

.img__backgroud {
	background: linear-gradient(to bottom, #746c8267 0%, #746c8270 100%),
		url(../assets/HomeImagen.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	min-height: 100vh;
}

.form__contact {
	max-width: 350px;
	max-height: 600px;
	padding: 1rem 0 1rem 0;
}
.card {
	border: none;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
/* 
.card-img-top {
	border-radius: 1rem 1rem;
} */

.btn {
	min-width: 100%;
	border-radius: 10px;
	background-color: var(--deepblue);
	border-color: var(--deepblue);
}

.icon__contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title {
	font-size: 3.2rem;
	font-weight: 800;
}

.title__Two {
	font-size: 2;
	font-weight: 700;
	color: var(--deepblue);
}
.title__Three {
	font-weight: 800;
	color: var(--deepblue);
}

.color-light-blue {
	color: var(--light-blue);
}

#title__features {
	font-size: 2.5rem;
	color: var(--deepblue);
	font-weight: 300;
	margin: 0;
}

hr {
	color: var(--light-blue);
	height: 2px !important;
	width: 3rem;
	border: 0;
	opacity: 1;
	margin: 0.5rem 0 0.5rem 0;
}

.form__container {
	max-width: 980px;
	min-height: 900px;
}

.card__features {
	padding: 1.5rem 0.8rem 2rem 0.8rem;
	text-align: center;
}

.card__levels {
	box-shadow: none;
}

.rounded {
	border-radius: 10px !important;
}

.section__divider {
	height: 30vh;
	background-color: var(--middle-blue);
	margin-top: -30vh;
}

footer {
	color: var(--gray);
	padding: 1.5rem 0 1.5rem 0;
}
footer h3 {
	color: var(--middle-blue);
	font-size: 2rem;
	font-weight: 700;
}

footer h5 {
	font-size: 1rem;
	font-weight: 700;
}

ul {
	list-style: none;
	padding: 0;
	font-size: 1rem;
}

li {
	margin: 1rem 0 1rem 0;
}

@media (max-width: 750px) {
	#title {
		font-size: 2rem;
		font-weight: 800;
		text-align: center;
	}
	.form__container {
		min-height: 100%;
		margin: 1rem 0 1rem 0;
	}
	.img__backgroud {
		background: linear-gradient(
				to bottom,
				rgba(3, 90, 166, 0.253) 0%,
				rgba(3, 90, 166, 0.24) 100%
			),
			url(../assets/HomeImagen.jpg) gray;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: scroll;
		min-height: 100vh;
	}
}
